.container{
    margin: 0;
    position: relative;
    width: auto;
    height: 100vh;
    min-width: 100vw;
    background: #0B0D17;
    background-image: url(../assets/home/background-home-desktop.jpg);
    overflow: auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-top: 40px;
    height: 96px;
    align-items: center; 
}
a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FFFFFF;
}
.line{
    position: absolute;
width: 435px;
height: 1px;
left: 167px;
top: 88px;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.25;
}
.tags{
    height: 96px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
    color: #FFFFFF;
    font-size: 20px;
    justify-content: space-evenly;
    
}
.box{
    position: absolute;
    width: 450px;
    height: 322px;
    left: 165px;
    top: 317px;
}
.travel{
    color: #D0D6F9;
    width: 379px;
    height: 34px;
    font-size:  26px;
    font-family: 'Barlow Condensed';
    font-style: 'Regular';
    font-weight: 400px;
}
.space{
    width: 445px;
    height: 172px;
    font-family: 'Barlow Condensed';
    font-style: 'Regular';
    font-weight: 400;
    font-size: 150px;
    
    color: #FFFFFF;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.p{
    color: #D0D6F9;
    width: 444px;
    height: 126px;
    font-size: 18px;
    font-weight: 400;
}
.circle{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 274px;
    height: 274px;
    left: 1001px;
    top: 355px;
    background-color: #FFFFFF;
    color: #0B0D17;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Bellefair';
    font-style: normal;
    letter-spacing: 2px;
}
span{
    height: 19px;
    
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
