.container{
    margin: 0;
    
    width: auto;
    height: 100vh;
    min-width: auto;
    background: #0B0D17;
    overflow: hidden;
    background-image: url('../assets/technology/background-technology-desktop.jpg');
}
.launch{
    border: 1px solid red;
    position: absolute;
    width: 305px;
    height: 34px;
    left: 166.5px;
    top: 180px;
}
.techBox{
    border: 1px solid red;
    position: absolute;
    width: 470px;
    height: 303px;
    left: 325px;
    top: 283px;
}
.techCircles{
    border: 1px solid red;
    border-radius: 50%;
}
#cOne{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 165px;
    top: 290px;
}
#cTwo{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 165px;
    top: 400px;
    
}
#cThree{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 165px;
    top: 510px;
    
}
.techImg{
    border: 1px solid red;
    position: absolute;
    width: 32%;
    height: 440px;
    left: 925px;
    top: 172px;

}